# Base de données
DB_HOST=
DB_NAME=   
DB_USER=             
DB_PASS=                 

# Application
APP_URL=

APP_ENV=                 

# TMDB API
TMDB_API_KEY=
TMDB_BASE_URL=
TMDB_IMG_URL=

# Google OAuth 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Mail 
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_FROM_NAME=

# Brevo API key for Transactional API (v3)
BREVO_API_KEY=

# Utilisez une adresse expéditrice vérifiée chez Brevo
# MAIL_FROM=no-reply@votredomaine.fr

# Public direct logo URL for emails
MAIL_LOGO_URL=
MAIL_TEXTURE_URL=
MAIL_NEWSLETTER_HERO_URL=
MAIL_NEWSLETTER_CINEMA_IMAGE_URL=
MAIL_NEWSLETTER_VOYAGE_IMAGE_URL=
MAIL_WELCOME_HERO_URL=
MAIL_WARNING_HERO_URL=
MAIL_PASSWORD_RESET_HERO_URL=